*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

h1{
    font-size: 100PX;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(250, 66, 30);
    height: 100vh;
    width: 30%;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

#name {
    background-color: brown;
    width: 100%;
    font-size: 50px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    width: 100%;
    background-color: rgb(243, 255, 7);
    border: 0;
}